<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516400505005-air9d28i3hsmfkqjqsisheck6vvob6hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516400505005-air9d28i3hsmfkqjqsisheck6vvob6hj</string>
	<key>API_KEY</key>
	<string>AIzaSyAPY8WIXmoBaHUEFTtTbR_cq9HzuthkI4g</string>
	<key>GCM_SENDER_ID</key>
	<string>516400505005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.benedictoflutter</string>
	<key>PROJECT_ID</key>
	<string>project-outright</string>
	<key>STORAGE_BUCKET</key>
	<string>project-outright.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516400505005:ios:0fbe1832daf0662bd46624</string>
</dict>
</plist>